<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <div >
        <ul class="collection">
            <li class="collection-item">Home</li>
            <li class="collection-item">ToDo List</li>
            <li class="collection-item">Calculator</li>
            <li class="collection-item">Tic Tac Toe</li>
        </ul>
    </div>
</body>
</html>